'use strict';

/* constant for static pages routing */
angular.module('services.constants', []);
angular.module('services.constants').constant('APPLICATION_PREFIX', '{{ laclasse_services.publipostage.path | regex_replace('\/+$', '') }}');
angular.module('services.constants').constant('BASE_SERVICE_URL', '{{ laclasse_services.publipostage.path | regex_replace('\/+$', '') }}/api');
