# -*- encoding: utf-8 -*-
#
# Fichier de configuration de l'application
#

require 'logger'

{% import 'macros/url.j2' as url with context %}

# development ou production
ENV[ 'RACK_ENV' ]  = '{{ laclasse_environment }}'

# niveau de log de l'application
LOG_LEVEL = Logger::INFO

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path(File.join(File.dirname(__FILE__), '..'))

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '{{ laclasse_services.publipostage.path | regex_replace('\/+$', '') }}'

# application version
APP_VERSION='{{ laclasse_publipostage_version  }}'

# Langage par défaut de l'application
LANG = 'fr'

# Clé de hachage pour les cookies Rack
SESSION_KEY = '{{ laclasse_publipostage_rack_sessionkey }}'

# Durée de la session en seconde (défaut 3600)
SESSION_TIME = 3600

# Url de l'ENT
URL_ENT = '{{ laclasse_main_url }}'

# nom du serveur d'annuaire ENT (xml-aaf académiques)
SERVICE_ANNUAIRE_ENT = '{{ laclasse_annuaire_aaf_url }}'

module Configuration
  GIT_COMMIT = '{{ git_tag.stdout }}'
  ENVIRONMENT = '{{ laclasse_environment }}'
  LOGSTASH_SERVER="{{ logstash_server }}"
  LOGSTASH_PORT="{{ logstash_udp_json_port }}"
end

#
# Configuration du Serveur d'Authentification Central CAS
#
module CASAUTH
  CONFIG = {
    host: "{{ laclasse_sso_server }}",
    ssl: {{ laclasse_sso_ssl }},
    port: {{ laclasse_sso_port_external }},
    disable_ssl_verification: {{ laclasse_sso_disable_ssl_verification }},
    login_url: "{{ laclasse_sso_login_url }}",
    service_validate_url: "{{ laclasse_sso_service_validate_url }}",
    logout_url: "{{ laclasse_sso_logout_url }}",
    logout_saml_url: "{{ laclasse_sso_logout_saml }}",
    full_host: "{{ url.trim_trailing_slashes(laclasse_main_url) }}", # Fixes OmniAuthCAS+Rack X-Forwarded-Proto crap
    restmod_url: '{{ laclasse_sso_restmod_url }}',
  }
end

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = {
  url:                            '{{ url.trim_trailing_slashes(url.dedup_slashes(laclasse_main_url, "/", laclasse_annuaire_main_path)) }}' ,
  api_key:                        "{{ laclasse_services.publipostage.api_key }}",
  app_id:                         '{{ laclasse_services.publipostage.app_id }}',
  api_mode:                       '{{ laclasse_services.publipostage.api_mode }}',
  service_annuaire_user:          '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_user, "/") }}',
  service_annuaire_regroupements: '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_regroupements, "/") }}',
  service_annuaire_profils:       '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_profils, "/") }}',
  service_annuaire_personnel:     '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_personnel, "/") }}',
  service_annuaire_diffusionInfo: '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_diffusion_info, "/") }}',
  service_annuaire_publipostage:  '{{ url.dedup_slashes(laclasse_annuaire_app_component, "/", laclasse_annuaire_endpoint_publipostage, "/") }}',
}

#
# Configuration du service REDIS
#
REDIS = {
  host: '{{ laclasse_redis_server }}',
  port: {{ laclasse_redis_port }},
  redis_root: '{{ laclasse_redis_root }}'
}
