{
  "publipostage": {
    "description": "{{ laclasse_services.publipostage.description }}",
    "title": "{{ laclasse_services.publipostage.title }}",
    "app_id": "{{ laclasse_services.publipostage.app_id }}",
    "path": "{{ laclasse_services.publipostage.path }}",
    "version": {
      "asked": {{ laclasse_publipostage_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
